################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Myfirstapp/.vs/Myfirstapp/FileContentIndex/169cf5f8-1d3c-48ab-923d-75df49c6e47e.vsidx
/Myfirstapp/.vs/Myfirstapp/FileContentIndex/ac24e067-41eb-4c62-be7e-0d8e4cc3643d.vsidx
/Myfirstapp/.vs/Myfirstapp/FileContentIndex/c68d076a-122c-491a-b11d-8fe93e368f70.vsidx
/Myfirstapp/.vs/Myfirstapp/FileContentIndex/993a148c-8eeb-4a19-9afc-3252a73d29f9.vsidx
/Myfirstapp/.vs/Myfirstapp/FileContentIndex/3fc2ed07-04ab-4b2d-ac7c-cf76c8f90f57.vsidx
/Myfirstapp/.vs/Myfirstapp/FileContentIndex/59a605a0-3c89-4745-97ab-9b37c190b917.vsidx
/Myfirstapp/Myfirstapp/ArtYProductClien/ArtYProductCiente/.vs/ArtYProductCiente/FileContentIndex/381ea1f3-cb19-4954-b1eb-ed5d80e4a7e2.vsidx
/Myfirstapp/Myfirstapp/ArtYProductClien/ArtYProductCiente/.vs/ArtYProductCiente/FileContentIndex/e603c0cb-641a-40c6-bc18-dc8a8d15a837.vsidx
