################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Myfirstapp/.vs/Myfirstapp/FileContentIndex/169cf5f8-1d3c-48ab-923d-75df49c6e47e.vsidx
/Myfirstapp/.vs/Myfirstapp/FileContentIndex/ac24e067-41eb-4c62-be7e-0d8e4cc3643d.vsidx
